// Colors

    $deepOrange: #F16718; // button1
    $lightOrange: #FF9B62; // button1 hover

    $darkBlue: #162542; // button2 hover, header text
    $grayishBlue: #7B8BAD; // regular text

    $lightGrayishBlue: #E8EFF2; // button2
    // White


